*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
*.json.gzip
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
_data
elasticsearch-*
config/base.yaml
/.vscode/
/coverage
yarn.lock
package-lock.json
components
/.history
.github
docs
scripts
site
tests
typings
.babelrc
.codecov.yml
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.jest.js
.jest.node.js
.stylelintrc
.travis.yml
AUGHORS.txt
CHANGELOG.en-US.md
CHANGELOG.zh-CH.md
CODE_OF_CONDUCT.md
index-with-locales.js
index.js
README-zh_CN.md
tsconfig.json
webpack.config.js